.container {
  display: flex;
}
/* 1. exercice-baseline-1 */
.exercice-baseline-1 .container {
  align-items: baseline;
}

/* 2. exercice-baseline-2 */
.exercice-baseline-2 .container {
  flex-direction: row-reverse;
  align-items: baseline;
}

/* 3. exercice-baseline-3 */
.exercice-baseline-3 .container {
  align-items: baseline;
  justify-content: center;
  align-items: center;
}

/* 4. exercice-flow-1 */
.exercice-flow-1 .container {
  flex-flow: row wrap;
}

/* 5. exercice-flow-2 */

/* 6. exercice-all-in-1 */

/* 7. exercice-all-in-2 */
